
.main-page {
  text-align: center;
  font-family: "Arial", serif;
  font-size: 16px;
}

.control-panel {
  margin: 10px;
  padding: 10px;
  width: 100%;
  display: inline;
}

.desc {
  color: slategrey;
  font-size: 14px;
  vertical-align: bottom;
}

div.params {
  background-color: gainsboro;
  margin: 5px;
  padding: 5px;
  text-align: center;
  border-left: 5px solid white;
  border-radius: 10px;
  display: table-cell;
}

button {
  width: 100px;
  padding: 3px;
  text-align: center;
  font-size: 15px;
  margin: 5px;
}

span.title {
  font-size: 28px;
  text-align: center;
  display: block;
  color: darkslateblue;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}

input, label, select {
  margin: 3px;
}

select {
  margin-left: 13px;
  width: 79px;
  padding: 1px;
}

.canvas-container {
  padding: 10px;
}

